<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>680228603023-dq19bkpr5vomi0f4j6v9poiirtpgictf.apps.googleusercontent.com</string>
	<key>GIDClientID</key>
	<string>680228603023-6d1nvsfivm8mti6bc5amr6scs2shhoim.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.680228603023-6d1nvsfivm8mti6bc5amr6scs2shhoim</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
